
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.pdb
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.dll
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.deps.json
.vs/SportsStore/DesignTimeBuild/.dtbcache
.vs/SportsStore/v16/.suo
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.assets.cache
*.cache
*.cache
*.cache
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.csproj.CoreCompileInputs.cache
SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.g.props
SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.cache
.vs/SportsStore/DesignTimeBuild/.dtbcache
.vs/SportsStore/v16/.suo
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.assets.cache
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.csproj.CoreCompileInputs.cache
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.csprojAssemblyReference.cache
SportsStore.Tests/obj/project.assets.json
SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.cache
SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.g.props
.vs/SportsStore/DesignTimeBuild/.dtbcache
.vs/SportsStore/v16/.suo
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.assets.cache
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.csproj.CoreCompileInputs.cache
SportsStore.Tests/obj/Debug/netcoreapp2.2/SportsStore.Tests.csprojAssemblyReference.cache
SportsStore.Tests/obj/project.assets.json
SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.cache
SportsStore.Tests/obj/SportsStore.Tests.csproj.nuget.g.props
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.deps.json
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.dll
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.pdb
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.Views.dll
SportsStore/bin/Debug/netcoreapp2.2/SportsStore.Views.pdb
SportsStore/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
SportsStore/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
SportsStore/obj/Debug/netcoreapp2.2/Razor/Views/Product/List.g.cshtml.cs
SportsStore/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.assets.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.csproj.CoreCompileInputs.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.csproj.FileListAbsolute.txt
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.csprojAssemblyReference.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.dll
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.pdb
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.RazorCoreGenerate.cache
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.Views.dll
SportsStore/obj/Debug/netcoreapp2.2/SportsStore.Views.pdb
SportsStore/obj/project.assets.json
SportsStore/obj/SportsStore.csproj.nuget.cache
SportsStore/obj/SportsStore.csproj.nuget.g.props
